* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
.btn.active {
  background-color: inherit !important;
}
/* .btn.active:hover {
  color: #000 !important;
} */

.card-product {
  border: none !important;
  box-shadow: 0 5px 8px 5px rgb(0 0 0 / 7%);
}
.footer-wrapper {
  background-color: #f4f4f4;
}

@media screen and (max-width: 414px) {
  .category-filter {
    flex-direction: column;
  }
  .category-filter button {
    margin-bottom: 12px;
  }
}
